version: "3.8"
services:
  peripheral:
    build:
      context: .
      dockerfile: ./peripheral/Dockerfile
    ports:
      - "6001:8080"
    links:
      - db
  deployment:
    build:
      context: .
      dockerfile: ./deployment/Dockerfile
    ports:
      - "6003:8080"
    links:
      - db
  user:
    build:
      context: .
      dockerfile: ./user/Dockerfile
    ports:
      - "6002:8080"
    links:
      - db
  events:
    build:
      context: .
      dockerfile: ./event/Dockerfile
    ports:
      - "6004:8080"
    links:
      - db
  db:
    image: mysql:8.0.22
    environment:
      - MYSQL_ROOT_PASSWORD=pw
      - MYSQL_USER=niole
      - MYSQL_PASSWORD=pw
      - MYSQL_DATABASE=default
    ports:
      - "3306:3306"
